#root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  height: 100px;
}

.center {
  display: flex;
  gap: 10px;
  min-height: calc(100% - 200px);
}

.leftComp {
  width: 33.3%;
  max-width: 300px;
}
.rightComp {
  width: 33.3%;
  max-width: 300px;
}
.main {
  width: 100%;
}

.footer {
  height: 100px;
}
